:root {
  --green: #03c988;
  --white: #ececec;
  --black: #000;
  --dark: #171717;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  background: #171717;
}
