:root {
  --green: #03c988;
  --white: #E7E7E7 ;
  --black: #161617;
  --dark: #171717;
  --textGradient: background-image: linear-gradient(
    90deg,
    rgba(134, 11, 140, 1) 0%,
    rgba(190, 7, 7, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text; /* Para navegadores basados en WebKit */
  color: transparent;

}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  width: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
  
}
